#Presentación{
    color: coral;
    background-color: burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.Titulotablayformulario{
    color: rgb(230, 164, 0);
    background-color: rgb(61, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

p{
    text-align: justify;
    color: rgb(0, 0, 99);
    font-size: larger;
}

body{
    background-image: url(Imagenes/Perro.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: aliceblue;
}

a:visited{
    color: darkmagenta;
}

form {
    margin: 2em auto;
    width: 70%;
    border: 2px solid;
    padding: 2em;
    background-color: rgb(245, 245, 122);
    border-radius: 8px;
}

fieldset {
    border: none;
    margin-bottom: 2em;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    color: rgb(240, 192, 158);
}

ol{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    clear: both;
}

ul{
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;      
}

img{
    display: block;
    margin: auto;
}

.Personajes {
    text-decoration: underline;
    color: blueviolet;
}
.Personajes:hover{
    background-color: red;
}

.Roles:hover {
    background-color: red
}
a:hover{
    font-size: 25px;
    background-color: rgb(0, 34, 97);
}
table {
    background-color: rgb(34, 255, 144);
    border-top-color: rgb(231, 84, 236);
    border-left-color: rgb(224, 194, 172);
    border-right-color: rgb(123, 255, 0);
    border-bottom-color: rgb(236, 136, 4); 
    color: rgb(255, 99, 99);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0 auto;
}

#titulo{
    color: azure;
    background-color: firebrick;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.GatoConBotas{
    color: blueviolet;
    background-color: khaki;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}